:host {
    display: block;
}

.header {
    display: flex;
    align-items: center;

    .routes {
        margin-left: 1rem;

        .route {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            &.active {
                color: "red";
            }
        }
    }
}
