<div class="header">
    <h3>Change Detection</h3>
    <div class="routes">
        <div
            class="route"
            [routerLink]="['/change-subproperty']"
            routerLinkActive="active"
        >
            Change subproperty
        </div>
        <div
            class="route"
            [routerLink]="['/on-push-parent']"
            routerLinkActive="active"
        >
            On Push blocks default children
        </div>
        <div
            class="route"
            [routerLink]="['/http-call']"
            [queryParams]="{ mode: 'content' }"
            routerLinkActive="active"
        >
            Http Call - Ng Content
        </div>
        <div
            class="route"
            [routerLink]="['/http-call']"
            [queryParams]="{ mode: 'view' }"
            routerLinkActive="active"
        >
            Http Call - View Children
        </div>
        <div
            class="route"
            [routerLink]="['/no-changes']"
            routerLinkActive="active"
        >
            Error - no changes
        </div>
    </div>
</div>
<router-outlet></router-outlet>
